{
	"tabWidth": 4,
	"singleQuote": true,
	"useTabs": true,
	"jsxSingleQuote": true,
	"semi": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,

	"plugins": ["@trivago/prettier-plugin-sort-imports","prettier-plugin-prisma"]
}
